[submodule "freedesktop"]
	path = freedesktop
	url = https://github.com/lcpz/awesome-freedesktop.git
[submodule "lain"]
	path = lain
	url = https://github.com/lcpz/lain
[submodule "awesome-wm-widgets"]
	path = awesome-wm-widgets
	url = https://github.com/apaulau/awesome-wm-widgets.git
[submodule "awmic"]
	path = awmic
	url = https://github.com/mova/awmic.git
[submodule "nice"]
	path = nice
	url = https://github.com/apaulau/awesome-wm-nice.git
